body>header > h1{
    color: red;
}
.country{
    color: green;
    font-weight: bold;
}
section :nth-child(2):first-letter{
    font-weight: bold;
    font-size: 30px;
}
section{
    border-bottom: 1px solid gray;
}