body , html{
  margin:0;
  padding:0;
  background-image: url("./img/Background.jpg");
  background-repeat: repeat;
  
}
body::-webkit-scrollbar {
  width: 5px;
}
 
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: rgb(134, 134, 134);
  outline: 1px solid slategrey;
}
.Navbar{
  width: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  height: 40px;
  background-color: #91b120;
  padding: 5px 0;
  /* border-radius: 20px; */
}
.NavbarText{
  margin: 10px;
  color: #ffffff;
  font-size:2rem;
  width: fit-content;
  margin-left:150px;
  font-family: 'Sriracha', cursive;
}
.Container{
  font-family: 'Mitr', sans-serif;
  width: 90%;
  background-color:white;
  margin: 20px auto;
  padding: 20px;
  border-radius: 20px;
}
.TextHeader{
  font-size: 2rem;
  color: #727272;
  margin:10px 150px 0 150px;
}
.TextDate{
  font-size: 1.2rem;
  margin:0px 150px 10px 150px;
  color: #727272;
}
.BandnerContainer{
  width: 100%;
  text-align: center;
}
.Bandner{
  width: 80%;
  margin: 20px auto;
  border-radius: 10px;
}
.TextContent{
  font-family: 'Mitr', sans-serif;
  color: #727272;
  font-size: 1.2rem;
  width: 80%;
  margin: 0 auto;
}
.Credit{
  margin: 50px 0 0 150px;
  font-size: 1.2rem;
}
.slideshow{
  display:flex;
  align-items: center;
}
.arrow{
  padding: 0;
  margin: 0;
  font-size: 60px;
  color: rgb(148, 148, 148) !important;
  cursor: pointer;
}
.slidepage{
  width: 80%;
  height: 500px;
  min-width: 500px;
  margin: 20px auto;
  text-align: center;
  padding: 50px 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;
}
.slideimg{
  height: 400px;
}
.slideimg img{
  max-width: 90%;
  height: 350px;
  margin:0 auto 20px auto;
  border-radius: 20px;
}
.slidetext{
  width: 80%;
  text-align: left;
  margin: 0 auto;
}
@media screen and (max-width:1200px){
  .Container{
    margin:10px 80px;
  }
  .Credit{
    margin:50px 80px;
  }
}